@font-face {
	font-family: 'text-italic';
	src: url('../../assets/fonts/text/text-italic.eot');
	src: url('../../assets/fonts/text/text-italic.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/text/text-italic.woff2') format('woff2'),
		url('../../assets/fonts/text/text-italic.woff') format('woff'),
		url('../../assets/fonts/text/text-italic.ttf') format('truetype'),
		url('../../assets/fonts/text/text-italic.svg#text-italic') format('svg');
	font-style: italic;
}

@font-face {
	font-family: 'text';
	src: url('../../assets/fonts/text/text.eot');
	src: url('../../assets/fonts/text/text?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/text/text.woff2') format('woff2'),
		url('../../assets/fonts/text/text.woff') format('woff'),
		url('../../assets/fonts/text/text.ttf') format('truetype'),
		url('../../assets/fonts/text/text.svg#text') format('svg');
	font-style: normal;
}

@font-face {
	font-family: 'titles';
	src: url('../../assets/fonts/titles/titles.eot');
	src: url('../../assets/fonts/titles/titles.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/titles/titles.woff2') format('woff2'),
		url('../../assets/fonts/titles/titles.woff') format('woff'),
		url('../../assets/fonts/titles/titles.ttf') format('truetype'),
		url('../../assets/fonts/titles/titles.svg#titles') format('svg');
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');